/* *********************************** */


/* *** ESTILOS GENERALES *** */


/* *********************************** */


/* Tipografía */

@font-face {
    font-family: "";
    src: url("") format("woof2"), url("") format("woof");
}

html {
    font-family: Helvetica, sans-serif;
    background: whitesmoke;
}